@inherits WebGLAudioComponentBase

<div class="@_centerButtonDivClass">
	<button @onclick="OnStartListeningToAudio" type="button">Start WebGL Audio FFT</button>
</div>

<BECanvas Width="10" Height="10" @ref="_canvasReference" ></BECanvas>