@inherits WebGLAudioComponentBase

<div class="@_centerButtonDivClass">
	<button @onclick="OnStartListeningToAudio" type="button">Start WebGL Audio FFT</button>
</div>

<BECanvas Width="0" Height="0" @ref="_canvasReference" ></BECanvas>