@page "/"

<div class="divMain">
   <div>
      <img class="imgBlazor" src="images/BrandBlazor_nohalo_1000x.png" alt="Blazor">
   </div>
   <div class="rowTitle">
      Made With Blazor WASM
   </div>
   <div class="rowInfo">
      The folowing links will request audio from your microphone:
   </div>
   <div class="rowLink">
      <a href="/Canvas2dFFT">Canvas Audio FFT</a>
   </div>
   <div class="rowLink">
      <a href="/WebGLFFT">WebGL Audio FFT</a>
   </div>
   <div class="rowSep" />
   <div class="rowFoot">
	   <a href="https://github.com/sonicmouse?tab=repositories">GitHub</a> | 
       <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Bl@zor</a> | 
       <a href="https://stackoverflow.com/users/1204153/andy">Stack Overflow</a>
   </div>
</div>